/* .quizz{
    
    display: none;
} 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.topBar{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: black;
}
.pageLogin{
    position: relative;
    transition: 0.5s;
}
.pageLogin.toDown{
    transform: translateY(150vh);
}
.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    
    transition: 1s;
}
.login.hidden{
    transform: translateX(100vw);
     
 }

 
  .register{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: absolute;
    margin: 0 ;
    bottom:-50%;
    transition: 1s;
  }
  .register.hidden{
    transform: translateX(-100vw);
     
 }
 .pageAjoutQ{
     position: absolute;
     bottom:100vh;
     transition: 0.5s;
     display: flex;
     justify-content: center;
     flex-direction: column;

 }
 .pageAjoutQ.toDown{
    bottom: 20vh ;
 }