.quizz {
    background-color: #14213d;
    color: #fca311;
}

.header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    background-color: black;
}
.title{
    margin-bottom: 40px;
    justify-content: center;
}
h1 {
    font-weight: bolder;
}


#selectTheme {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.theme {
    height: 50px;
    width: 100px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: black;
    border: 1px solid #fca311;
    color: #fca311;
    box-shadow: 10px 5px 5px silver;
    font-weight: bold;
}

.selectAnswer {
    display: flex;
    flex-direction: column;

}

/* bloc question, reponse */
#blocQuestion {
    display: flex;
    border-bottom: #fca311;
    color: #fca311;
    flex-direction: column;
    align-items: center;
    width: 100%;



}

/* question */
.question {
    font-size: larger;
    font-weight: 900;
    margin-top: 50px;
}

/* case reponse */
.c {
    width: 500px;
    height: 100px;
    margin: 20px;
    background-color: #000000;
    color: #fca311;
    border: 1px solid #fca311;

}

/* bloc résultat placement */
#reset {
    width: 100%;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15%;

}
/* taille du texte résultat */
#reset p{
    font-size: larger;
    font-weight: bold;
}
/* bouton résultat */
#rat {
    height: 50px;
    width: 100px;
    background-color: black;
    border: 1px solid #fca311;
    color: #fca311;
    font-weight: bold;
    border-radius: 10%;
    transition: 0.5
}

#rat:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 10px rgb(255, 255, 255);
    background-color: rgb(90, 95, 124);
}

button{
    transition: 0.5s;
}
button:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 10px rgb(255, 255, 255);
    background-color: rgb(90, 95, 124);
}
